{% load static %}

<div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu" style="background-image: url('{% static "home_page_app/images/mobile-bg.jpg" %}');">
    <div class="offcanvas-header bg-white">
        <div class="offcanvas-logo">
            <a class="offcanvas-logo__logo" href="#"><img src="{% static "home_page_app/images/logo.png" %} " width="296" height="100" alt="Logo"></a>
        </div>
        <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
    </div>

    <div class="offcanvas-body">
        {% if student_user %}
        <div class="header-user__profile dropdown">
            <a class="header-user__avatar dropdown-toggle text-light" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if student_profile_picture_url %}
                <img src="{{ student_profile_picture_url }}" alt="profile-image" width="40" height="40" class="rounded-circle">  &nbsp; {{ student_user.first_name }} {{ student_user.middle_name }} 
            {% else %}
                <img src="{% static 'home_page_app/images/avatar-placeholder.jpg' %}" width="40" height="40" alt="Default Avatar" class="rounded-circle"> &nbsp; {{ student_user.first_name }} {{ student_user.middle_name }} 
            {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{% url "account_app:update_student_and_profile_by_user" %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url "home_page_app:student_dashboard" student_user.id %}">Dashboard</a></li>
                <li><a class="dropdown-item" href="{% url "account_app:logout" %}">Logout</a></li>
            </ul>
        </div>
        <nav class="canvas-menu">
            <ul class="offcanvas-menu">
                <li><a class="active" href="{% url 'home_page_app:home' %}"><span>Home</span></a></li>
                <li><a href="{% url "home_page_app:student_dashboard" student_user.id %}"><span>My Dashboard</span></a></li>
                <li>
                    <a class="" href="#"><span>Features</span></a>
                    <ul class="sub-menu">
                        <li><a class="" href="{% url 'home_page_app:event_list' %}"><span>Events</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="#"><span>Pages</span></a>
                    <ul class="sub-menu">
                        <li><a class="" href="{% url 'home_page_app:about' %}"><span>About us</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:contact' %}"><span>Contact us</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:instructor_list' %}"><span>Our Instructors</span></a></li>
                        <li><a class="" href="{% url "home_page_app:course_list" %}"><span>Courses</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% endif %}

        {% if not student_user %}
        <nav class="canvas-menu">
            <ul class="offcanvas-menu">
                <li><a class="active" href="{% url 'home_page_app:home' %}"><span>Home</span></a></li>
                <li>
                    <a href="#"><span>Category</span></a>
                    
                    <ul class="sub-menu">
                        {% for category in all_categories %}
                        <li>
                            <a href="{% url 'home_page_app:course_category' category.id %}">{{ category.name }} <span class="toggle-sub-menu"></span></a>
                        
                            
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a class="" href="#"><span>Features</span></a>
                    <ul class="sub-menu">
                        <li><a class="" href="{% url 'home_page_app:event_list' %}"><span>Events</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="#"><span>Pages</span></a>
                    <ul class="sub-menu">
                        <li><a class="" href="{% url 'home_page_app:about' %}"><span>About us</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:contact' %}"><span>Contact us</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:instructor_list' %}"><span>Our Instructors</span></a></li>
                        <li><a class="" href="{% url "home_page_app:course_list" %}"><span>Courses</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% endif %}
    </div>

    {% if not student_user %}
    <!-- Header User Button Start -->
    <div class="offcanvas-user"> 
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__login btn btn-secondary btn-hover-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
        </div>
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__signup btn btn-primary btn-hover-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up</button>
        </div>
    </div>
    <!-- Header User Button End -->
    {% endif %}
</div>
