{% extends "home_base.html" %}

{% load static %}
{% block css_files %}
{% endblock %}

{% block main %}
<main class="main-wrapper">

    <!-- Header Start -->
    {% block header %}
    {% include 'home_page_partials/main_header.html' %}
    {% endblock %}
    <!-- Header End -->

    <!-- Banner Start -->
    {% block banner %}
    <div class="page-banner bg-color-04">
        <div class="page-banner__wrapper">

            <div class="page-banner__shape-01"></div>
            <div class="page-banner__shape-02"></div>
            <div class="page-banner__shape-03"></div>

            <div class="container">

                <!-- Page Breadcrumb Start -->
                <div class="page-breadcrumb">
                    <ul class="breadcrumb">
                        <li class="active"></li>
                    </ul>
                </div>
                <!-- Page Breadcrumb End -->

                <!-- Page Banner Caption Start -->
                <div class="page-banner__caption-02">
                    <h2 class="page-banner__main-title-02">{{ courses.0.category_name }}</h2>
                </div>
                <!-- Page Banner Caption End -->

            </div>
        </div>
    </div>
    {% endblock %}
    <!-- Banner End -->

    <!-- Offcanvas Start -->
    {% block offcanvas %}
    {% include "home_page_partials/offcanvas.html" %}
    {% endblock %}
    <!-- Offcanvas End -->

    <!-- Courses Category Featured Start -->
    <div class="courses-category-section section-padding-02">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title">
                <h2 class="section-title__title"><mark>New</mark> Courses</h2>
            </div>
            <!-- Section Title End -->

            <div class="row gy-6">
                {% for course in courses %}
                <div class="col-xl-3 col-md-6">
                    <!-- Course Start -->
                    <div class="course-item">
                        <div class="course-header">
                            <div class="course-header__thumbnail">
                                <a href="{% url 'home_page_app:course_detail' course.id %}">
                                    <img src="{{ course.image_url }}" alt="{{ course.name }}" width="258" height="173">
                                </a>
                            </div>
                        </div>
                        <div class="course-info">
                            <span class="course-info__badge-text badge-all">All Levels</span>
                            <h3 class="course-info__title">
                                <a href="{% url 'home_page_app:course_detail' course.id %}">{{ course.name }}</a>
                            </h3>
                            <a href="#" class="course-info__instructor">{{ course.instructor_first_name }} {{ course.instructor_last_name }}</a>
                            <div class="course-info__price">
                                {% if course.category_is_free == 1 %}
                                <span class="free">Free</span>
                                {% else %}
                                <span class="sale-price">${{ course.course_amount|floatformat:2 }}</span>
                                {% endif %}
                            </div>
                            <div class="course-info__rating">
                                <div class="rating-star">
                                    <div class="rating-label" style="width: {{ course.rating_width }}%;"></div>
                                </div>
                                <span>({{ course.rating_count }})</span>
                            </div>
                        </div>
                    </div>
                    <!-- Course End -->
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- Courses Category Featured End -->

    <!-- Courses Category Start -->
    <div class="courses-category-section section-padding-02">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title">
                <h2 class="section-title__title"><mark>Free </mark> Courses</h2>
            </div>
            <!-- Section Title End -->
            {% if courses.0.category_is_free == 1 %}
            <!-- Courses Popular Topic List Start -->
            <div class="course-popular-topic-list">
                {% for course in courses %}
                {% if course.category_is_free == 1 %}
                <a href="{% url 'home_page_app:course_detail' course.id %}" class="popular-topic-link">{{ course.name }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Courses Popular Topic List End -->
             {% else %}
             <div class="course-popular-topic-list">
                <a href="#" class="popular-topic-link">No Free Courses Available</a>
            </div>
            {% endif %}


        </div>
    </div>
    <!-- Courses Category Featured End -->

    {% block instructors %}
    <!-- Courses Instructor Start -->
    <div class="courses-section section-padding-02" style="margin-bottom:100px">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title">
                <h2 class="section-title__title"><mark>Popular </mark> Instructors</h2>
            </div>
            <!-- Section Title End -->

            <div class="instructor-active swiper-button-style swiper-dots-style">
                <div class="instructor-wrapper position-relative">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            {% for instructor in instructors %}
                            <!-- Instructor Start -->
                            <div class="swiper-slide instructor-item-02">
                                <a class="instructor-item-02__link" href="#">
                                    <div class="instructor-item-02__header">
                                        <div class="instructor-item-02__image">
                                            <img src="{{ instructor.image_url }}" alt="{{ instructor.first_name }} {{ instructor.last_name }}" width="70" height="70">
                                        </div>
                                        <div class="instructor-item-02__content text-start">
                                            <h4 class="instructor-item-02__name">{{ instructor.first_name }} {{ instructor.last_name }}</h4>
                                            <p class="instructor-item-02__designation">{{ instructor.department }}</p>
                                            <div class="instructor-item-02__rating justify-content-start">
                                                <div class="rating-star">
                                                    <div class="rating-label" style="width: 80%;"></div>
                                                </div>
                                                <div class="rating-average">4.67/<span>5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="instructor-item-02__footer">
                                        <div class="instructor-item-02__meta"> <i class="fas fa-file-alt"></i> <span class="value">{{ instructor.total_courses }} courses</span></div>
                                        <div class="instructor-item-02__meta"> <i class="fas fa-user"></i> <span class="value">{{ instructor.total_students }} students</span></div>
                                    </div>

                                </a>
                                <!-- Instructor End -->
                                <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
                                <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    

                </div>

                <div class="swiper-pagination"></div>

            </div>

        </div>
    </div>
    <!-- Courses Instructor Category Featured End -->
    {% endblock %}

    <!-- Footer Start -->
    {% block footer %}
    {% include 'home_page_partials/main_footer.html' %}
    {% endblock %}
    <!-- Footer End -->

    {% include "home_page_partials/arrow_up_down.html" %}
</main>
{% endblock %}
