{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %}Reviews - Skillup 24{% endblock %}

{% block dashboard_content %}
<div class="dashboard-content">
    <div class="container">
        <h4 class="dashboard-title">Reviews</h4>

        <!-- Dashboard Reviews Start -->
        <div class="dashboard-reviews">

            {% if reviews %}
                {% for review in reviews %}
                <!-- Dashboard Review Item Start -->
                <div class="dashboard-review-item">
                    <div class="dashboard-review-item__thumbnail">
                        <img src="{{ review.course_image_url }}" alt="Course Image" width="150" height="100">
                    </div>
                    <div class="dashboard-review-item__content">
                        <div class="dashboard-review-item__title-wrap">
                            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">{{ review.course_name }}</a></h2>
                            <div class="dashboard-review-item__review-links">
                                <a href="{% url 'home_page_app:edit_feedback' review.id %}"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
                            </div>
                        </div>
                        <div class="dashboard-review-item__rating">
                            <div class="rating-star">
                                <div class="rating-label" style="width: {{ review.rating|floatformat:0 }}%;"></div>
                            </div>
                            <p>{{ review.time_ago }}</p>
                        </div>
                        <div class="dashboard-review-item__text">
                            <p>{{ review.review_text }}</p>
                        </div>
                    </div>
                </div>
                <!-- Dashboard Review Item End -->
                {% endfor %}
            {% else %}
                <p>No reviews found.</p>
            {% endif %}

        </div>
        <!-- Dashboard Reviews End -->
    </div>
</div>
{% endblock %}
