{% extends "home_base.html" %}
{% load static %}
{% block main %}
<main class="main-wrapper">
    {% block header %}
    {% include 'home_page_partials/main_header.html' %}
    {% endblock  %}
    
    {% block banner %}
    <div class="page-banner">
        <div class="page-banner__wrapper">
            <div class="event-details-banner" style="background-image: url('{{ event.course_image }}');">
                <div class="container custom-container">
                    <div class="event-details-banner__content">
                        <div class="event-details-banner__date">{{ event.event_date }}</div>
                        <h1 class="event-details-banner__title">{{ event.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock  %}
    
    <div class="event-section section-padding-01">
        <div class="container custom-container">
            <div class="event-details">
                <div class="event-details__header mx-auto text-center">
                    <h3 class="event-details__title">About The Event</h3>
                    <div class="event-details__meta justify-content-center">
                        <span class="meta-action"><i class="fas fa-map-marker-alt"></i> <span class="meta-action__value">{{ event.event_place }}</span></span>
                        <span class="meta-action"><i class="fas fa-calendar"></i> <span class="meta-action__value">{{ event.event_date }}</span></span>
                        <span class="meta-action"><i class="fas fa-clock"></i> <span class="meta-action__value">{{ event.event_time }}</span></span>
                        <span class="meta-action"><i class="fas fa-info-circle"></i> <span class="meta-action__value">{{ event.event_status }}</span></span>
                    </div>
                </div>
                
                <div class="event-details__summary">
                    <div class="event-details__content">
                        <div class="row gy-6">
                            <div class="col-lg-8">
                                <p>{{ event.description }}</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="event-details__booking-info">
                                    <ul class="event-details__info-meta">
                                        {% if not is_enrolled %}
                                        <li class="meta-info meta-price"><span class="meta-label"><i class="fas fa-money-bill-wave"></i> Paid Course Cost:</span><span class="meta-value">${{ event.course_amount }}</span></li>
                                        {% endif %}
                                    </ul>
                                    {% if event.event_status == 'expired' or event.event_status == 'Expired' or event.event_status == 'Completed'%}
                                    <p class="event-details__notice">This event has expired</p>
                                    {% else %}
                                    <p class="event-details__notice">This event is upcoming</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
