{% extends "home_base.html" %}

{% load static %}
{% block css_files %}
<style>
    /* WhatsApp button */
    .whatsapp-button {
    position: fixed;
    bottom: 116px;
    right: 34px;
    z-index: 100;
    font-size: 60px;
    color: #00b58b;
    cursor: pointer;
    }

    .whatsapp-chat-popup {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    background: #00b58b;
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: none;
    z-index: 101;
    }

    .whatsapp-chat-popup .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .whatsapp-chat-popup .chat-body {
    margin-top: 10px;
    background-color: #a9cf46;
    padding: 10px;
    border-radius: 5px;
    }

    .whatsapp-chat-popup a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    background: #00b58b;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    }

    /* btn green style */
    .btn-green{
    background-color: #00b58b;
    color: #ffffff;
    border-color: #00b58b;
    }

    .btn-green:hover{
    background-color: #1a4d3b;
    color: #ffffff;
    border-color: #1a4d3b;
    }

    .btn-green:focus{
    background-color: #1a4d3b;
    color: #ffffff;
    border-color: #1a4d3b;
    }

    .btn-green:focus, .btn-green.focus {
    -webkit-shadow: 0 0 0 0.2rem #1a4d3b;
    box-shadow: 0 0 0 0.2rem #1a4d3b;
    }

    .btn-green.disabled, .btn-green:disabled {
    color: #fff;
    background-color: #00b58b;
    border-color: #00b58b;
    }
    .btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
    .show > .btn-green.dropdown-toggle {
    color: #fff;
    background-color: #1a4d3b;
    border-color: #1a4d3b;
    }
    .btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
    .show > .btn-green.dropdown-toggle:focus {
    -webkit-shadow: 0 0 0 0.2rem #1a4d3b;
    box-shadow: 0 0 0 0.2rem #1a4d3b;
    }
</style>

{% endblock %}


{% block main %}
<main class="main-wrapper">

    <!-- Header Start -->
    {% block header %}
    {% include 'home_page_partials/main_header.html' %}
    {% endblock  %}
    <!-- Header End -->

    <!-- Banner Start -->
    {% block banner %}
    <div class="page-banner bg-color-05">
        <div class="page-banner__wrapper">
            <div class="container">

                <!-- Page Banner Caption Start -->
                <div class="page-banner__caption text-center">
                    <h2 class="page-banner__main-title">Events</h2>
                </div>
                <!-- Page Banner Caption End -->

            </div>
        </div>
    </div>
    {% endblock  %}
    <!-- Banner End -->
     


    <!-- Offcanvas Start -->
    {% block offcanvas %}
    {% include "home_page_partials/offcanvas.html" %}
    {% endblock  %}
    <!-- Offcanvas End -->
     
 
    <!-- Event Start -->
    <div class="event-section overflow-visible section-padding-01 pt-0">
        <div class="container custom-container">

            <!-- Event Filtering Start -->
            <div class="event-filtering">
                <form action="#">

                    <!-- event filtering-form Start -->
                    <div class="event-filtering-form">

                        <div class="filtering-form">
                            <input type="text" class="form-control filter_start_date" autocomplete="off" readonly="" placeholder="Event from">
                            <span class="form-icon">
                            <i class="fas fa-calendar"></i>
                        </span>
                        </div>

                        <div class="filtering-form">
                            <select class="form-control">
                                <option value="0" selected="selected">All categories</option>
                                <option class="level-0" value="141">Business</option>
                                <option class="level-0" value="142">Community</option>
                                <option class="level-0" value="143">Hobbies</option>
                                <option class="level-0" value="144">School Activities</option>
                            </select>
                            <span class="form-icon">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                        </div>

                        <div class="filtering-form">
                            <input type="text" class="form-control" placeholder="Location">
                            <span class="form-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        </div>

                        <div class="filtering-form">
                            <input type="text" class="form-control" placeholder="Keyword…">
                            <span class="form-icon">
                            <i class="fas fa-search"></i>
                        </span>
                        </div>

                        <div class="filtering-btn">
                            <button class="btn btn-primary btn-hover-secondary">Find events</button>
                        </div>

                    </div>
                    <!-- event filtering-form End -->

                </form>
            </div>
            <!-- Event Filtering End -->

            <!-- Archive Filter Bars Start -->
            <div class="archive-filter-bars">

                <div class="archive-filter-bar">
                    <p>We found <span>13</span> events available for you</p>
                </div>

                <div class="archive-filter-bar">

                    <div class="filter-bar-wrapper">
                        <div class="filter-select">
                            <form action="#">
                                <select class="edumall-nice-select" data-select="{&quot;fieldLabel&quot;:&quot;Event Type:&quot;}">
                                    <option value="" selected='selected'> All </option>
                                    <option value="happening"> Happening</option>
                                    <option value="upcoming"> Upcoming</option>
                                    <option value="expired"> Expired</option>
                                </select>
                                <input type="hidden" name="paged" value="1">
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Archive Filter Bars End -->

            <!-- Events list Wrapper Start -->
            <div class="events-list-wrapper">

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url 'home_page_app:event_detail' 1 %}">
                            <img src="{% static 'home_page_app/images/event/event-thumbnail-10.jpg' %}" alt="Event" width="270" height="171">
                        </a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 1 %}">Global Education fas l Meeting for Everyone</a></h3>
                            <div class="event-list-item__price">$99<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>Celebrating our 20th anniversary this year on the gulf coast, the annual conference is designed to be the key venue where the higher education faculty, administrators and IT professionals come …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 18, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United States</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 2 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-04.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 2 %}">London International Conference on Education</a></h3>
                            <div class="event-list-item__price">$79<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>Over the years LICE has developed strong networks of leading researchers from different educational fields and is designed so these professionals from these different fields can fill in gaps of …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">8:00 am - 4:30 pm</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">November 9, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">London</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 3 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-11.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 3 %}">Digital Skills: Using Information to Build Business</a></h3>
                            <div class="event-list-item__price">$99<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>The Creating Futures Through Technology Conference - Edumall Tech Center is sponsored jointly by the Mississippi Community College Board and the Mississippi Universities Board with a goal of promoting collaboration …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 18, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United Kingdom</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 4 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-12.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 4 %}">Creating Futures Through Technology Conference</a></h3>
                            <div class="event-list-item__price">$32<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>The Creating Futures Through Technology Conference is sponsored jointly by the Mississippi Community College Board and the Mississippi Universities Board with a goal of promoting collaboration as well as transforming …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 23, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United States</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 5 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-09.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 5 %}">Digital Arts and Reshaping the Future with AI</a></h3>
                            <div class="event-list-item__price">$55<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>Celebrating our 20th anniversary this year on the gulf coast, the annual conference is designed to be the key venue where the higher education faculty, administrators and IT professionals come …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 18, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">Kansas</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 6 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-08.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 6 %}">Administrators and IT Professionals Strategies and Methods</a></h3>
                            <div class="event-list-item__price">$35<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>The Creating Futures Through Technology Conference - Edumall Tech Center is sponsored jointly by the Mississippi Community College Board and the Mississippi Universities Board with a goal of promoting collaboration …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 18, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United States</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

    

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 8 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-06.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 8 %}">How to Photograph Events Without Bothering the Guests</a></h3>
                            <div class="event-list-item__price">$99<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>All tips you need to take the best photos without bothering the attendants …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">October 9, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United States</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 9 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-05.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 9 %}">Computing Education Practice Conference 2021</a></h3>
                            <div class="event-list-item__price">$99<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>Reshaping the Future: Artificial Intelligence, Virtual Reality and Augmented Reality, the primary focus for the conference is on EdTech, but there are also sessions on networks, data security, etc …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 18, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United States</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 10 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-07.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 10 %}">Global Education fas l Meeting for Everyone</a></h3>
                            <div class="event-list-item__price">$99<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>Celebrating our 20th anniversary this year on the gulf coast, the annual conference is designed to be the key venue where the higher education faculty, administrators and IT professionals come …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 18, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United States</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 11 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-03.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 11 %}">Creating Futures Through Technology Conference – Edumall Tech Center</a></h3>
                            <div class="event-list-item__price">$99<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>The Creating Futures Through Technology Conference - Edumall Tech Center is sponsored jointly by the Mississippi Community College Board and the Mississippi Universities Board with a goal of promoting collaboration …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 18, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United States</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

                <!-- Event list Item Start -->
                <div class="event-list-item" data-aos="fade-up" data-aos-duration="1000">
                    <div class="event-list-item__image">
                        <a href="{% url "home_page_app:event_detail" 12 %}"><img src="{% static "home_page_app/images/event/event-thumbnail-02.jpg" %}" alt="Event" width="270" height="171"></a>
                    </div>
                    <div class="event-list-item__content">
                        <div class="event-list-item__content-wrapper">
                            <h3 class="event-list-item__title"><a href="{% url "home_page_app:event_detail" 12 %}">Creating Futures Through Technology Conference – Edumall Tech Center</a></h3>
                            <div class="event-list-item__price">$99<span class="separator">.00</span></div>
                            <div class="event-list-item__excerpt">
                                <p>The Creating Futures Through Technology Conference - Edumall Tech Center is sponsored jointly by the Mississippi Community College Board and the Mississippi Universities Board with a goal of promoting collaboration …</p>
                            </div>
                        </div>
                        <div class="event-list-item__content-meta">
                            <ul class="event-list-item__meta-items">
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-clock"></i></span>
                                    <span class="meta-value">9:30 am - 11:30 am</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-calendar"></i></span>
                                    <span class="meta-value">August 18, 2020</span>
                                </li>
                                <li class="event-list-item__meta-item">
                                    <span class="meta-label"><i class="meta-label-icon fas  fa-map-marker-alt"></i></span>
                                    <span class="meta-value">United States</span>
                                </li>
                            </ul>
                            <div class="event-list-item__btn">
                                <a class="btn btn-primary btn-hover-secondary" href="#">Get ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event list Item End -->

            </div>
            <!-- Events list Wrapper End -->

            <!-- Page Pagination Start -->
            <div class="page-pagination">
                <ul class="pagination justify-content-center">
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                </ul>
            </div>
            <!-- Page Pagination End -->

        </div>
    </div>
    <!-- Event End -->

    <!-- Footer Start -->
    {% block footer %}
    {% include 'home_page_partials/main_footer.html' %}
    {% endblock  %}
    <!-- Footer End -->

    <!-- WhatsApp Button -->
    <div class="whatsapp-button" onclick="toggleChatPopup()">
        <i class="fab fa-whatsapp"></i>
    </div>

    <div class="whatsapp-chat-popup" id="whatsapp-chat-popup">
        <div class="chat-header">
        <i class="fab fa-whatsapp"></i>
        <span>WhatsApp</span>
        <i class="fas fa-times" onclick="toggleChatPopup()"></i>
        </div>
        <div class="chat-body">
        <p>ASC ????</p>
        <p>Ma u baahan tahay in wax lagaa caawiyo?</p>
        <a href="https://wa.me/+252615272255" target="_blank">Nala soo xiriir</a>
        </div>
    </div>

    {% include "home_page_partials/arrow_up_down.html" %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function () {
                const button = form.querySelector('button[type="submit"]');
                const spinner = button.querySelector('.spinner-border');
                const buttonText = button.querySelector('.button-text');
    
                spinner.classList.remove('d-none');
                buttonText.textContent = 'Processing...';
                button.disabled = true;
            });
            });
        });
    
        function toggleChatPopup() {
            const chatPopup = document.getElementById('whatsapp-chat-popup');
            chatPopup.style.display = chatPopup.style.display === 'none' || chatPopup.style.display === '' ? 'block' : 'none';
        }
        </script>


</main>
{% endblock %}
