{% extends "home_base.html" %}

{% load static %}
{% block css_files %}


{% endblock %}


{% block main %}
<main class="main-wrapper">

    <!-- Header Start -->
    {% block header %}
    {% include 'home_page_partials/main_header.html' %}
    {% endblock  %}
    <!-- Header End -->

    <!-- Banner Start -->
    {% block banner %}
    <div class="page-banner bg-color-05">
        <div class="page-banner__wrapper">
            <div class="container">

                <!-- Page Banner Caption Start -->
                <div class="page-banner__caption text-center">
                    <h2 class="page-banner__main-title">Membership plans</h2>
                </div>
                <!-- Page Banner Caption End -->

            </div>
        </div>
    </div>
    {% endblock  %}
    <!-- Banner End -->


    <!-- Offcanvas Start -->
    {% block offcanvas %}
    {% include "home_page_partials/offcanvas.html" %}
    {% endblock  %}
    <!-- Offcanvas End -->
     
    <!-- Membership plans Section Start -->
    <div class="membership-plans section-padding-01">
        <div class="container custom-container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="section-title__title-02">Great <mark>Price</mark> Plan for You!</h2>
            </div>
            <!-- Section Title End -->

            <!-- Membership plans Tabs Start -->
            <div class="membership-plans-tabs">
                <ul class="nav justify-content-center" data-aos="fade-up" data-aos-duration="1000">
                    <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab1"> <i class="fas fa-angle-left"></i> Per month </button></li>
                    <li><button data-bs-toggle="tab" data-bs-target="#tab2">Per Year <i class="fas fa-angle-right"></i></button></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1">

                        <div class="row gy-6">
                            <div class="col-lg-3 col-sm-6">

                                <!-- Membership plans Tabs Start -->
                                <div class="pricing-plan text-center" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="pricing-plan__header">
                                        <h4 class="pricing-plan__title">Free</h4>
                                    </div>
                                    <div class="pricing-plan__wrap">
                                        <span class="pricing-plan__currency">$</span>
                                        <span class="pricing-plan__price">0</span>
                                        <span class="pricing-plan__period">/mo</span>
                                    </div>
                                    <div class="pricing-plan__body">
                                        <ul class="pricing-plan__features">
                                            <li>Courses included: 1</li>
                                            <li>Individual Course</li>
                                            <li>Full Access to Single Course</li>
                                            <li>Try for free, forever!</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-plan__footer">
                                        <a class="pricing-plan__btn btn btn-primary btn-hover-secondary" href="#">Get started</a>
                                    </div>
                                </div>
                                <!-- Membership plans Tabs End -->

                            </div>
                            <div class="col-lg-3 col-sm-6">

                                <!-- Membership plans Tabs Start -->
                                <div class="pricing-plan text-center plan-active" data-aos="fade-up" data-aos-duration="1000">

                                    <div class="pricing-plan__ribbon">
                                        <span>Popular Choice</span>
                                    </div>

                                    <div class="pricing-plan__header">
                                        <h4 class="pricing-plan__title">Started</h4>
                                    </div>
                                    <div class="pricing-plan__wrap">
                                        <span class="pricing-plan__currency">$</span>
                                        <span class="pricing-plan__price">19</span>
                                        <span class="pricing-plan__period">/mo</span>
                                    </div>
                                    <div class="pricing-plan__body">
                                        <ul class="pricing-plan__features">
                                            <li>Courses included: 3</li>
                                            <li>Individual Course</li>
                                            <li>Full Access to Single Course</li>
                                            <li>Learner Record</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-plan__footer">
                                        <a class="pricing-plan__btn btn btn-secondary btn-hover-white" href="#">Get started</a>
                                    </div>
                                </div>
                                <!-- Membership plans Tabs End -->

                            </div>
                            <div class="col-lg-3 col-sm-6">

                                <!-- Membership plans Tabs Start -->
                                <div class="pricing-plan text-center" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="pricing-plan__header">
                                        <h4 class="pricing-plan__title">Team</h4>
                                    </div>
                                    <div class="pricing-plan__wrap">
                                        <span class="pricing-plan__currency">$</span>
                                        <span class="pricing-plan__price">29</span>
                                        <span class="pricing-plan__period">/mo</span>
                                    </div>
                                    <div class="pricing-plan__body">
                                        <ul class="pricing-plan__features">
                                            <li>Courses included: 10</li>
                                            <li>Individual Course</li>
                                            <li>Full Access to Single Course</li>
                                            <li>Learner Record</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-plan__footer">
                                        <a class="pricing-plan__btn btn btn-primary btn-hover-secondary" href="#">Get started</a>
                                    </div>
                                </div>
                                <!-- Membership plans Tabs End -->

                            </div>
                            <div class="col-lg-3 col-sm-6">

                                <!-- Membership plans Tabs Start -->
                                <div class="pricing-plan text-center" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="pricing-plan__header">
                                        <h4 class="pricing-plan__title">Enterprise</h4>
                                    </div>
                                    <div class="pricing-plan__wrap">
                                        <span class="pricing-plan__currency">$</span>
                                        <span class="pricing-plan__price">39</span>
                                        <span class="pricing-plan__period">/mo</span>
                                    </div>
                                    <div class="pricing-plan__body">
                                        <ul class="pricing-plan__features">
                                            <li>Unlimited Courses</li>
                                            <li>Individual Course</li>
                                            <li>Full Access to Single Course</li>
                                            <li>Learner Record</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-plan__footer">
                                        <a class="pricing-plan__btn btn btn-primary btn-hover-secondary" href="#">Get started</a>
                                    </div>
                                </div>
                                <!-- Membership plans Tabs End -->

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab2">

                        <div class="row gy-6">
                            <div class="col-lg-3 col-sm-6">

                                <!-- Membership plans Tabs Start -->
                                <div class="pricing-plan text-center" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="pricing-plan__header">
                                        <h4 class="pricing-plan__title">Free</h4>
                                    </div>
                                    <div class="pricing-plan__wrap">
                                        <span class="pricing-plan__currency">$</span>
                                        <span class="pricing-plan__price">0</span>
                                        <span class="pricing-plan__period">/yr</span>
                                    </div>
                                    <div class="pricing-plan__body">
                                        <ul class="pricing-plan__features">
                                            <li>Courses included: 1</li>
                                            <li>Individual Course</li>
                                            <li>Full Access to Single Course</li>
                                            <li>Try for free, forever!</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-plan__footer">
                                        <a class="pricing-plan__btn btn btn-primary btn-hover-secondary" href="#">Get started</a>
                                    </div>
                                </div>
                                <!-- Membership plans Tabs End -->

                            </div>
                            <div class="col-lg-3 col-sm-6">

                                <!-- Membership plans Tabs Start -->
                                <div class="pricing-plan text-center plan-active" data-aos="fade-up" data-aos-duration="1000">

                                    <div class="pricing-plan__ribbon">
                                        <span>Popular Choice</span>
                                    </div>

                                    <div class="pricing-plan__header">
                                        <h4 class="pricing-plan__title">Started</h4>
                                    </div>
                                    <div class="pricing-plan__wrap">
                                        <span class="pricing-plan__currency">$</span>
                                        <span class="pricing-plan__price">190</span>
                                        <span class="pricing-plan__period">/yr</span>
                                    </div>
                                    <div class="pricing-plan__body">
                                        <ul class="pricing-plan__features">
                                            <li>Courses included: 3</li>
                                            <li>Individual Course</li>
                                            <li>Full Access to Single Course</li>
                                            <li>Learner Record</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-plan__footer">
                                        <a class="pricing-plan__btn btn btn-secondary btn-hover-white" href="#">Get started</a>
                                    </div>
                                </div>
                                <!-- Membership plans Tabs End -->

                            </div>
                            <div class="col-lg-3 col-sm-6">

                                <!-- Membership plans Tabs Start -->
                                <div class="pricing-plan text-center" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="pricing-plan__header">
                                        <h4 class="pricing-plan__title">Team</h4>
                                    </div>
                                    <div class="pricing-plan__wrap">
                                        <span class="pricing-plan__currency">$</span>
                                        <span class="pricing-plan__price">290</span>
                                        <span class="pricing-plan__period">/yr</span>
                                    </div>
                                    <div class="pricing-plan__body">
                                        <ul class="pricing-plan__features">
                                            <li>Courses included: 10</li>
                                            <li>Individual Course</li>
                                            <li>Full Access to Single Course</li>
                                            <li>Learner Record</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-plan__footer">
                                        <a class="pricing-plan__btn btn btn-primary btn-hover-secondary" href="#">Get started</a>
                                    </div>
                                </div>
                                <!-- Membership plans Tabs End -->

                            </div>
                            <div class="col-lg-3 col-sm-6">

                                <!-- Membership plans Tabs Start -->
                                <div class="pricing-plan text-center" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="pricing-plan__header">
                                        <h4 class="pricing-plan__title">Enterprise</h4>
                                    </div>
                                    <div class="pricing-plan__wrap">
                                        <span class="pricing-plan__currency">$</span>
                                        <span class="pricing-plan__price">390</span>
                                        <span class="pricing-plan__period">/yr</span>
                                    </div>
                                    <div class="pricing-plan__body">
                                        <ul class="pricing-plan__features">
                                            <li>Unlimited Courses</li>
                                            <li>Individual Course</li>
                                            <li>Full Access to Single Course</li>
                                            <li>Learner Record</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-plan__footer">
                                        <a class="pricing-plan__btn btn btn-primary btn-hover-secondary" href="#">Get started</a>
                                    </div>
                                </div>
                                <!-- Membership plans Tabs End -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Membership plans Tabs End -->

        </div>
    </div>
    <!-- Membership plans Section End -->



    <!-- Footer Start -->
    {% block footer %}
    {% include 'home_page_partials/main_footer.html' %}
    {% endblock  %}
    <!-- Footer End -->
       

    {% include "home_page_partials/arrow_up_down.html" %}




</main>
{% endblock %}
