{% extends "home_base.html" %}

{% load static %}
{% block css_files %}
<style>
    /* WhatsApp button */
    .whatsapp-button {
    position: fixed;
    bottom: 116px;
    right: 34px;
    z-index: 100;
    font-size: 60px;
    color: #00b58b;
    cursor: pointer;
    }

    .whatsapp-chat-popup {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    background: #00b58b;
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: none;
    z-index: 101;
    }

    .whatsapp-chat-popup .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .whatsapp-chat-popup .chat-body {
    margin-top: 10px;
    background-color: #a9cf46;
    padding: 10px;
    border-radius: 5px;
    }

    .whatsapp-chat-popup a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    background: #00b58b;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    }

    /* btn green style */
    .btn-green{
    background-color: #00b58b;
    color: #ffffff;
    border-color: #00b58b;
    }

    .btn-green:hover{
    background-color: #1a4d3b;
    color: #ffffff;
    border-color: #1a4d3b;
    }

    .btn-green:focus{
    background-color: #1a4d3b;
    color: #ffffff;
    border-color: #1a4d3b;
    }

    .btn-green:focus, .btn-green.focus {
    -webkit-shadow: 0 0 0 0.2rem #1a4d3b;
    box-shadow: 0 0 0 0.2rem #1a4d3b;
    }

    .btn-green.disabled, .btn-green:disabled {
    color: #fff;
    background-color: #00b58b;
    border-color: #00b58b;
    }
    .btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
    .show > .btn-green.dropdown-toggle {
    color: #fff;
    background-color: #1a4d3b;
    border-color: #1a4d3b;
    }
    .btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
    .show > .btn-green.dropdown-toggle:focus {
    -webkit-shadow: 0 0 0 0.2rem #1a4d3b;
    box-shadow: 0 0 0 0.2rem #1a4d3b;
    }
</style>

{% endblock %}


{% block main %}
<main class="main-wrapper">

    <!-- Header Start -->
    {% block header %}
    {% include 'home_page_partials/main_header.html' %}
    {% endblock  %}
    <!-- Header End -->

    <!-- Banner Start -->
    {% block banner %}
    <div class="page-banner bg-color-05">
        <div class="page-banner__wrapper">
            <div class="container">


                <!-- Page Banner Caption Start -->
                <div class="page-banner__caption text-center">
                    <h2 class="section-title__title">Fee Payment <mark>Procedure</mark> </h2>
                </div>
                <!-- Page Banner Caption End -->

            </div>
        </div>
    </div>
    {% endblock  %}
    <!-- Banner End -->


    <!-- Offcanvas Start -->
    {% block offcanvas %}
    {% include "home_page_partials/offcanvas.html" %}
    {% endblock  %}
    <!-- Offcanvas End -->

     <!-- Checkout Section Start -->
     <div class="checkout-section section-padding-01">
        <div class="container custom-container">

            <div class="row gy-8">
                
                <div class="col-lg-12">
                    <!-- Partners Start -->
                    <div class="partners-seaction section-padding-01">
                        <div class="container">
                            <div class="row gy-8 gx-8 align-items-center justify-content-center">
                         
                                <div class="col-lg-12">

                                    <!-- Partners Logo Wrapper Start -->
                                    <div class="partner-logo-wrapper" data-aos="fade-up" data-aos-duration="1000">

                                        <!-- Partners Logo Start -->
                                        <div class="partner-logo">
                                            <div class="partner-logo__logo">
                                                <img src="{% static "home_page_app/images/evc-plus2.png" %}" alt="Brand Logo" width="68" height="92">
                                            
                                                <p> Evc Plus </p>
                                                <h5>*712*615272255*$#</h5>

                                            </div>
                                        </div>

                                        <!-- Partners Logo End -->

                                        <!-- Partners Logo Start -->
                                        <div class="partner-logo">
                                            <div class="partner-logo__logo">
                                                <img src="{% static "home_page_app/images/eDahab_Green-23757f08.svg"%}" alt="Brand Logo" width="105" height="108">
                                                <p> E dahab </p>
                                                <h5>*110*621615272255*$#</h5>
                                            </div>
                                        </div>
                                        <!-- Partners Logo End -->

                                        <!-- Partners Logo Start -->
                                        <div class="partner-logo">
                                            <div class="partner-logo__logo">
                                                <img src="{% static "home_page_app/images/sahal.png"%}" alt="Brand Logo" width="78" height="91">
                                                <p> Sahal </p>
                                                <h5>*883*0615272255*$#</h5>
                                            </div>
                                        </div>
                                        <!-- Partners Logo End -->

                                        <!-- Partners Logo Start -->
                                        <div class="partner-logo">
                                            <div class="partner-logo__logo">
                                                <img src="{% static "home_page_app/images/Zaad.png" %}" alt="Brand Logo" width="122" height="70">
                                                <p> Zaad </p>
                                                <h6>*880*0615272255*$#</h6>
                                            </div>
                                        </div>
                                        <!-- Partners Logo End -->

                                    </div>
                                    <!-- Partners Logo Wrapper End -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Partners End -->
                </div>
            </div>

        </div>
    </div>
    <!-- Checkout Section End -->


    <!-- Footer Start -->
    {% block footer %}
    {% include 'home_page_partials/main_footer.html' %}
    {% endblock  %}
    <!-- Footer End -->

    <!-- WhatsApp Button -->
    <div class="whatsapp-button" onclick="toggleChatPopup()">
        <i class="fab fa-whatsapp"></i>
    </div>

    <div class="whatsapp-chat-popup" id="whatsapp-chat-popup">
        <div class="chat-header">
        <i class="fab fa-whatsapp"></i>
        <span>WhatsApp</span>
        <i class="fas fa-times" onclick="toggleChatPopup()"></i>
        </div>
        <div class="chat-body">
        <p>ASC ????</p>
        <p>Ma u baahan tahay in wax lagaa caawiyo?</p>
        <a href="https://wa.me/+252615272255" target="_blank">Nala soo xiriir</a>
        </div>
    </div>

    {% include "home_page_partials/arrow_up_down.html" %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function () {
                const button = form.querySelector('button[type="submit"]');
                const spinner = button.querySelector('.spinner-border');
                const buttonText = button.querySelector('.button-text');
    
                spinner.classList.remove('d-none');
                buttonText.textContent = 'Processing...';
                button.disabled = true;
            });
            });
        });
    
        function toggleChatPopup() {
            const chatPopup = document.getElementById('whatsapp-chat-popup');
            chatPopup.style.display = chatPopup.style.display === 'none' || chatPopup.style.display === '' ? 'block' : 'none';
        }
        </script>


</main>
{% endblock %}
