{% extends "home_base.html" %}
{% load static %}

{% block main %}
<main class="main-wrapper">
    <div class="checkout-section section-padding-01">
        <div class="container custom-container">
            <div class="row gy-8">
                <div class="col-lg-12">
                    <div class="partners-section section-padding-01">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-3 col-sm-6">
                                    <div class="partner-logo">
                                        <div class="partner-logo__logo text-center">
                                            <img src="{% static 'home_page_app/images/evc-plus2.png' %}" alt="Brand Logo" width="105" height="108">
                                            <h5>*712*615272255*$#</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- Partners Logo Start -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="partner-logo">
                                        <div class="partner-logo__logo text-center">
                                            <img src="{% static 'home_page_app/images/eDahab_Green-23757f08.svg' %}" alt="Brand Logo" width="105" height="108">
                                            <h5>*110*621615272255*$#</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- Partners Logo End -->

                                <!-- Partners Logo Start -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="partner-logo">
                                        <div class="partner-logo__logo text-center">
                                            <img src="{% static 'home_page_app/images/sahal.png' %}" alt="Brand Logo" width="105" height="108">
                                            <h5>*883*0615272255*$#</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- Partners Logo End -->

                                <!-- Partners Logo Start -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="partner-logo">
                                        <div class="partner-logo__logo text-center">
                                            <img src="{% static 'home_page_app/images/Zaad.png' %}" alt="Brand Logo" width="105" height="108">
                                            <h5>*880*0615272255*$#</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- Partners Logo End -->
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center mt-5">
                        <div class="col-md-6 text-center">
                            {% if student_user %}
                                <button id="enrollButton" class="btn btn-primary btn-hover-secondary" onclick="showSpinner(this)">
                                    <i class="mdi mdi-check-circle" id="enroll-course-icon"></i>
                                    <i class="fas fa-spinner fa-spin" id="enroll-course-spinner" style="display: none;"></i>
                                    Enroll in Course
                                </button>
                            {% else %}
                                <a href="{% url 'account_app:login' %}" class="btn btn-primary btn-hover-secondary" onclick="showSpinner(this)">
                                    <i class="mdi mdi-login" id="login-icon"></i>
                                    <i class="fas fa-spinner fa-spin" id="login-spinner" style="display: none;"></i>
                                    Login to Enroll
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Payment Modal -->
    <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentModalLabel">Enter Payment Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'home_page_app:submit_payment' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="course_id" value="{{ course.id }}">
                        <div class="mb-3">
                            <label for="course_amount" class="form-label">Course Amount</label>
                            <input type="text" id="course_amount" name="course_amount" class="form-control" value="{{ course.course_amount }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="senderPhoneNumber" class="form-label">Sender Phone Number</label>
                            <input type="text" class="form-control" id="senderPhoneNumber" name="sender_phone_number" required>
                        </div>
                        <input type="hidden" name="expected_course_amount" value="{{ course.course_amount }}">
                        <input type="hidden" name="course_id" value="{{ course.id }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="showSpinner(this)">
                            <i class="fas fa-check" id="submit-icon"></i>
                            <i class="fas fa-spinner fa-spin" id="submit-spinner" style="display: none;"></i>
                            Submit Payment
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    document.getElementById('enrollButton').addEventListener('click', function() {
        var paymentModal = new bootstrap.Modal(document.getElementById('paymentModal'));
        paymentModal.show();
    });
</script>

<script>
    function showSpinner(element) {
        // Hide the primary icon
        element.querySelector('i:first-child').style.display = 'none';
        // Show the spinner icon
        element.querySelector('i:last-child').style.display = 'inline-block';
    }
</script>
{% endblock %}
