{% extends "home_base.html" %}

{% block main %}
<main class="main-wrapper">
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="confirmation-message text-center">
                    <h2>Payment Submitted Successfully</h2>
                    <p>Your payment has been submitted and is currently pending approval. You will receive a confirmation once it's approved.</p>
                    <a href="{% url 'home_page_app:student_dashboard' request.session.student_id %}" class="btn btn-primary" onclick="showSpinner(this)">
                        <i class="fas fa-arrow-left" id="back-icon"></i>
                        <i class="fas fa-spinner fa-spin" id="back-spinner" style="display: none;"></i>
                        Back to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function showSpinner(element) {
        // Hide the primary icon
        element.querySelector('i:first-child').style.display = 'none';
        // Show the spinner icon
        element.querySelector('i:last-child').style.display = 'inline-block';
    }
</script>
{% endblock %}
