{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="{% url 'admin_page_app:dashboard' %}" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="{% static "admin_page_app/images/logo.png" %}" alt="" height="40">
        </span>
        <span class="logo-sm">
            <img src="{% static "admin_page_app/images/logo3.png" %}" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a href="{% url 'admin_page_app:dashboard' %}" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="{% static "admin_page_app/images/dark_logo.png" %}" alt="" height="40">
        </span>
        <span class="logo-sm">
            <img src="{% static "admin_page_app/images/dark_logo2.png" %}" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item"></li>
            <li class="side-nav-item">
                <a href="{% url "admin_page_app:dashboard" %}" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboard </span>
                </a>
            </li>

            <li class="side-nav-title side-nav-item">Management</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarUsers" aria-expanded="false" aria-controls="sidebarUsers" class="side-nav-link">
                    <i class="uil-user"></i>
                    <span> Users </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarUsers">
                    <ul class="side-nav-second-level">
                        {% comment %} {% url "admin_page_app:add_user" %} {% url "admin_page_app:view_users" %}{% endcomment %}
                        
                        <li><a href="#">Add User</a></li>
                        <li><a href="#">View Users</a></li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarInstructors" aria-expanded="false" aria-controls="sidebarInstructors" class="side-nav-link">
                    <i class="mdi mdi-teach"></i>
                    <span> Instructors </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarInstructors">
                    <ul class="side-nav-second-level">
                        {% comment %} {% url "admin_page_app:add_instructor" %} {% url "admin_page_app:view_instructors" %}{% endcomment %}
                        <li><a href="#">Add Instructor</a></li>
                        <li><a href="#">View Instructors</a></li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarCourses" aria-expanded="false" aria-controls="sidebarCourses" class="side-nav-link">
                    <i class="uil-book"></i>
                    <span> Courses </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarCourses">
                    <ul class="side-nav-second-level">
                        {% comment %} {% url "admin_page_app:add_course" %} {% url "admin_page_app:view_courses" %}{% endcomment %}
                        <li><a href="#">Add Course</a></li>
                        <li><a href="">View Courses</a></li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarCategories" aria-expanded="false" aria-controls="sidebarCategories" class="side-nav-link">
                    <i class="uil-list-ul"></i>
                    <span> Categories </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarCategories">
                    <ul class="side-nav-second-level">
                        {% comment %} {% url "admin_page_app:add_category" %} {% url "admin_page_app:view_categories" %}{% endcomment %}
                        <li><a href="#">Add Category</a></li>
                        <li><a href="#">View Categories</a></li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarCertificates" aria-expanded="false" aria-controls="sidebarCertificates" class="side-nav-link">
                    <i class="uil-award"></i>
                    <span> Certificates </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarCertificates">
                    <ul class="side-nav-second-level">
                        {% comment %} {% url "admin_page_app:add_certificate" %} {% url "admin_page_app:view_certificates" %}{% endcomment %}
                        <li><a href="#">Add Certificate</a></li>
                        <li><a href="#">View Certificates</a></li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarReports" aria-expanded="false" aria-controls="sidebarReports" class="side-nav-link">
                    <i class="uil-chart-line"></i>
                    <span> Reports </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarReports">
                    <ul class="side-nav-second-level">
                        {% comment %} {% url "admin_page_app:generate_report" %} {% url "admin_page_app:view_reports" %}{% endcomment %}
                        <li><a href="#">Generate Report</a></li>
                        <li><a href="#">View Reports</a></li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarSettings" aria-expanded="false" aria-controls="sidebarSettings" class="side-nav-link">
                    <i class="uil-cog"></i>
                    <span> Settings </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarSettings">
                    <ul class="side-nav-second-level">
                        {% comment %} {% url "admin_page_app:general_settings" %} {% url "admin_page_app:profile_settings" %}{% endcomment %}
                        <li><a href="#">General Settings</a></li>
                        <li><a href="#">Profile Settings</a></li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                {% comment %} {% url "admin_page_app:logout" %} {% endcomment %}
                <a href="#" class="side-nav-link">
                    <i class="uil-sign-out-alt"></i>
                    <span> Logout </span>
                </a>
            </li>

        </ul>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
